.FeatureItem {
    min-width: 80px;
    background-color: white;
    border-radius: 10%;
    border: 0;
    text-align: center;
    margin-right: 12px;
    cursor: pointer;
    box-sizing: content-box;
    padding: 24px 48px;
    font-weight: 600;
    font-size: 3rem;
}

.SelectedFeatureItem {
    color: white;
    background-color: gray;
    font-size: 3rem
}

