
.ProductData {
    width: 50%;
}

.PrimaryButton {
    color: white;
    background-color: teal;
    font-size: 3rem;
    border-radius: 8px;
    border: 0;
    padding: 24px 48px;
    margin-top: 25px;
}
.SectionHeading {
    font-size: 5rem;
}


